<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/master-page}">

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px">
                    <h1 style="color: darkblue">Create New Application </h1>
                </div>

            </div>
        </div>

        <th:block th:if="${passengers.isEmpty()}">
            <div class="col-md-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">You currently do not have
                    any active booking!</p>
            </div>
        </th:block>

        <th:block th:if="${!passengers.isEmpty()}">
            <form action="/application/new" method="post">
                <div class="row">
                    <div class="row">
                        <div class="from-group col-md-12">
                            <label class="col-form-label" for="actions">Application Type</label>
                            <span th:if="${#fields.hasErrors('actions')}" th:errors="*{actions}"
                                class="badge badge-danger"></span>
                            <select class="form-control" id="actions" name="actions">
                                <option th:value="${actionType}" th:text="${actionType}" th:if="${actionType!=null}"></option>
                                <option th:each="action , i:${actions}" th:value="${action}"
                                    th:text="${action}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="from-group col-md-8">
                        <label class="col-form-label" for="passengers">Booking Id</label>
                        <span th:if="${#fields.hasErrors('passengers')}" th:errors="*{passengers}"
                            class="badge badge-danger"></span>
                        <select class="form-control" id="passengers" name="passengers">
                            <option th:each="passenger, i:${passengers}" th:text="${passenger.passengerId}"
                                th:value="${passenger.passengerId}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-success" style="float: right">Save</button>
                    </div>

                </div>
            </form>
        </th:block>
        <th:block th:if="${updateForm != null}">
            <form th:action="@{/application/new/updateForm(applicationId=${applications.applicationId})}" method="post">
                <div class="row">
                    <div class="from-group col-md-4">
                        <label class="col-form-label" for="departureAirport">From</label>
                        <select class="form-control" id="departureAirport" name="departureAirport">
                            <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                                th:value="${airport.airportId}">
                            </option>
                        </select>
                    </div>

                    <div class="from-group col-md-4">
                        <label class="col-form-label" for="destinationAirport">To</label>
                        <span th:if="${AirportError!=null}" th:text="${AirportError}" class="badge badge-danger"></span>
                        <select class="form-control" id="destinationAirport" name="destinationAirport">
                            <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                                th:value="${airport.airportId}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="col-form-label" for="departureTime">Departure Time</label>
                        <input type="date" class="form-control" placeholder="" id="departureTime" name="departureTime"
                            required>
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-success" style="float: right">Search</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <th:block th:if="${notFound !=null}">
                    <div class="col-12">
                        <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">
                            No Record Found!</p>
                    </div>
                </th:block>
                <th:block th:if="${flights}">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-6">
                            <h1 style="color: darkblue">Result </h1>
                        </div>

                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">ID</th>
                                <th scope="col">Flight Number</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Departure</th>
                                <th scope="col">Arrival</th>
                                <th scope="col">Flight Charge</th>
                                <th scope="col">Aircraft</th>
                                <th scope="col">Available Seats</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <div th:each="flight, iterStat:${flights}">
                                <form
                                    th:action="@{/userapplications/updateForm/newApplication(flightId=${flight.flightId},applicationId=${applications.applicationId})}"
                                    method="post">
                                    <tr style="background-color: #fdfdfd">
                                        <th scope="row" th:text="${flight.flightId}">Dark</th>
                                        <td th:text="${flight.flightNumber}"></td>
                                        <td th:text="${flight.departureAirport.airportName}"></td>
                                        <td th:text="${flight.destinationAirport.airportName}"></td>
                                        <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                                        <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                                        <td th:text="${flight.flightCharge}"></td>
                                        <td th:text="${flight.aircraft.model}"></td>
                                        <td
                                            th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}">
                                        </td>
                                        <td><a th:if="${flight.passengers.size()<flight.aircraft.numberOfSeats}"><button
                                                    type="submit" class="btn btn-success"
                                                    style="float: right">Update</button></a>
                                        </td>
                                        <td><span th:if="${flight.passengers.size()>flight.aircraft.numberOfSeats}">
                                                Not have available seat anymore!!!
                                            </span></td>
                                    </tr>
                                </form>
                            </div>
                        </tbody>
                    </table>
                </th:block>
            </div>
        </th:block>
        <th:block th:if="${successful != null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: green; font-weight: bold">Your application
                    is sent
                    successfully!</p>
            </div>
        </th:block>
        <th:block th:if="${exist != null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">Your had made same type
                    of action to this booking,
                    please wait for approvement!!!</p>
            </div>
        </th:block>
        <th:block th:if="${existApproved != null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">Your application had approved already.</p>
            </div>
        </th:block>
        <th:block th:if="${error != null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">You cannot update to same flight!!!!</p>
            </div>
        </th:block>
    </th:block>
</body>

</html>