<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/master-page}">

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px">
                    <h1 style="color: darkblue">Create New Application </h1>
                </div>

            </div>
        </div>

        <th:block th:if="${passengers.isEmpty()}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">You currently do not have
                    any active booking!</p>
            </div>
        </th:block>

        <th:block th:if="${!passengers.isEmpty()}">
            <form action="/application/new" method="post" th:object="${application}">
                <div class="row">
                    <div class="from-group col-md-12">
                        <label class="col-form-label" for="action">Application Type</label>
                        <span th:if="${#fields.hasErrors('action')}" th:errors="*{action}"
                            class="badge badge-danger"></span>
                        <select class="form-control" id="action" name="action">
                            <option value="Delete">Delete</option>
                            <option value="Update">Update</option>
                        </select>
                    </div>

                    <div class="from-group col-md-4">
                        <label class="col-form-label" for="passenger">Booking Id</label>
                        <span th:if="${#fields.hasErrors('passenger')}" th:errors="*{passenger}"
                            class="badge badge-danger"></span>
                        <select class="form-control" id="passenger" name="passenger" (on)>
                            <option th:each="passenger, i:${passengers}" th:text="${passenger.passengerId}"
                                th:value="${passenger}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-success" style="float: right">Save</button>
                    </div>

                </div>
            </form>
        </th:block>
    </th:block>
</body>

</html>