<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Update Application</title>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px">
                    <h1 style="color: darkblue">Application </h1>
                </div>
            </div>
        </div>

        <th:block th:if="${applications != null}">
            <table class="table table-sm">
                <thead>
                    <tr class="table-active">
                        <th scope="col">Application Id</th>
                        <th scope="col">Application Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <form th:action="@{/adminapplication/approveOrReject(applicationId=${applications.applicationId})}"
                        method="post">
                        <div th:each="adminapplication, iterStat:${applications}">
                            <tr style="background-color: #fdfdfd">
                                <th scope="row" th:text="${adminapplication.applicationId}">Dark</th>
                                <td th:text="${actionType}"></td>
                                <td th:text="${adminapplication.status}"></td>
                                <td th:if="${adminapplication.status != 'Approved'}">
                                    <button type="submit" name="currentAction" value="approve" class="btn btn-success" style="">Approve</button>
                                    <button type="submit" name="currentAction" value="reject" class="btn btn-secondary" style="">Reject</button>
                                </td>
                            </tr>
                        </div>
                    </form>
                </tbody>

            </table>
        </th:block>

        <th:block th:if="${passenger != null}">
            <tbody>
                <div class="mb-5">
                    <div class="row">
                        <h1>User Information</h1>
                    </div>
                    <form>
                        <div th:each="adminapplication, iterStat:${passenger}" class="from-group">
                            <tr style="background-color: #fdfdfd">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="firstName">User Id</label>
                                        <input type="text" class="form-control" th:value="${users.id}" id="userId"
                                            name="userId" readonly>
                                    </div>
    
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="lastName">Passenger Id</label>
                                        <input type="text" class="form-control" th:value="${passenger.passengerId}"
                                            id="passengerId" name="passengerId" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="firstName">First Name</label>
                                        <input type="text" class="form-control" th:value="${passenger.firstName}"
                                            id="firstName" name="firstName" readonly>
                                    </div>
    
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="lastName">Last Name</label>
                                        <input type="text" class="form-control" th:value="${passenger.lastName}"
                                            id="lastName" name="lastName" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="firstName">Phone Number</label>
                                        <input type="text" class="form-control" th:value="${passenger.phoneNumber}"
                                            id="firstName" name="firstName" readonly>
                                    </div>
    
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="lastName">Passport Number</label>
                                        <input type="text" class="form-control" th:value="${passenger.passportNumber}"
                                            id="lastName" name="lastName" readonly>
                                    </div>
                                </div>
                       
                                
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="firstName">Email</label>
                                        <input type="text" class="form-control" th:value="${passenger.email}" id="email"
                                            name="email" readonly>
                                    </div>
    
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="lastName">Flight Number</label>
                                        <input type="text" class="form-control" th:value="${passenger.flight.flightNumber}"
                                            id="flightNumber" name="flightNumber" readonly>
                                    </div>
                                </div>
                            </tr>
                        </div>
                    </form>
                </div>
                
            </tbody>
        </th:block>

        <div class="mb-5">
            <div class="row">
                <h1>Flight Information</h1>
            </div>
                <table class="table table-sm">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">ID</th>
                            <th scope="col">Flight Number</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Departure</th>
                            <th scope="col">Arrival</th>
                            <th scope="col">Flight Charge</th>
                            <th scope="col">Aircraft</th>
                            <th scope="col">Available Seats</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="flight, iterStat:${flight}">
                                <tr style="background-color: #fdfdfd">
                                    <th scope="row" th:text="${flight.flightId}">Dark</th>
                                    <td th:text="${flight.flightNumber}"></td>
                                    <td th:text="${flight.departureAirport.airportName}"></td>
                                    <td th:text="${flight.destinationAirport.airportName}"></td>
                                    <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                                    <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                                    <td th:text="${flight.flightCharge}"></td>
                                    <td th:text="${flight.aircraft.model}"></td>
                                    <td
                                        th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}">
                                    </td>
                                    
                                    <td><span th:if="${flight.passengers.size()>flight.aircraft.numberOfSeats}">
                                            Not have available seat anymore!!!
                                        </span></td>
                                </tr>
                        </div>
                    </tbody>
                </table>

        </div>

        <th:block th:if="${newFlight != null}">
            <tbody>

                <div class="mb-5">
                    <div class="row">
                        <h1>Updated Flight Information</h1>
                    </div>
                        <table class="table table-sm">
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">ID</th>
                                    <th scope="col">Flight Number</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Departure</th>
                                    <th scope="col">Arrival</th>
                                    <th scope="col">Flight Charge</th>
                                    <th scope="col">Aircraft</th>
                                    <th scope="col">Available Seats</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <div th:each="newFlight, iterStat:${newFlight}">
                                        <tr style="background-color: #fdfdfd">
                                            <th scope="row" th:text="${flight.flightId}">Dark</th>
                                            <td th:text="${newFlight.flightNumber}"></td>
                                            <td th:text="${newFlight.departureAirport.airportName}"></td>
                                            <td th:text="${newFlight.destinationAirport.airportName}"></td>
                                            <td th:text="${newFlight.departureDate+' '+flight.departureTime}"></td>
                                            <td th:text="${newFlight.arrivalDate+' '+flight.arrivalTime}"></td>
                                            <td th:text="${newFlight.flightCharge}"></td>
                                            <td th:text="${newFlight.aircraft.model}"></td>
                                            <td
                                                th:text="${newFlight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}">
                                            </td>
                                            
                                            <td><span th:if="${newFlight.passengers.size()>flight.aircraft.numberOfSeats}">
                                                    Not have available seat anymore!!!
                                                </span></td>
                                        </tr>
                                </div>
                            </tbody>
                        </table>
        
                </div>
            </tbody>
        </tbody>

        
</body>

</html>